{% load static %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link type="text/css" rel="stylesheet" href="{% static 'css/logInPage.css' %}">
	</head>
	<body>
		<nav class="navbar">
			<div class="nav-left">
				<button class="nav-btn" id="choose-project">選擇專案</button>
			</div>
			<div class="nav-center">
				<a href="#" class="title">MySchedule</a>
			</div>
			<div class="nav-right">
				<input type="text" placeholder="搜尋..." class="search">
				<button class="nav-btn" id="magnifier">
					<img src="{% static 'images/magnifier-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px; padding-top: 5px;">
				</button>
				<button class="nav-btn">
					<img src="{% static 'images/apps-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px; padding-top: 5px;">
				</button>
				<a href="#" class="question">
					<img src="{% static 'images/question-circle-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px;">
				</a>
				<button class="nav-btn">
					<span class="nav-btn-text">登入</span>
					<img class="nav-btn-image" src="{% static 'images/person-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px;">
				</button>

			</div>
		</nav>

		<div class="login-container">
			<form action="" method="post">
				{% csrf_token %}
				<div>
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" required>
				</div>
				<div>
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required>
				</div>
				<button type="submit">Login</button>
			</form>
		</div>

		<script src="{% static 'js/logInPage.js' %}"></script>
	</body>
	</html>