{% load static %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link type="text/css" rel="stylesheet" href="{% static 'css/logInPage.css' %}">
	</head>
	<body>
		<nav class="navbar">
			<div class="nav-left">
				<button class="nav-btn" id="choose-project">選擇專案</button>
			</div>
			<div class="nav-center">
				<a href="#" class="title">MySchedule</a>
			</div>
			<div class="nav-right">
				<input type="text" placeholder="搜尋..." class="search">
				<button class="nav-btn" id="magnifier">
					<img src="{% static 'images/magnifier-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px; padding-top: 5px;">
				</button>
				<button class="nav-btn">
					<img src="{% static 'images/apps-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px; padding-top: 5px;margin: auto;">
				</button>
				<a href="#" class="question">
					<img src="{% static 'images/question-circle-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px;">
				</a>
				<button class="nav-btn">
					<span class="nav-btn-text">登入</span>
					<img class="nav-btn-image" src="{% static 'images/person-svgrepo-com.png' %}" alt="" style="width: 20px; height: 20px;">
				</button>

			</div>
		</nav>
		<main id = "content-wrapper">
			<div id = "content">
				<div id="login-form" class="form -bordered">
					<h1>登入</h1>
					<hr class="form--separate">
					<div class="form--field">
						<label class="form--label" for="username">使用者名稱*</label>
						<input type="text" name="username" class="form--field-container">
					</div>
					<div class="form--field">
						<label class="form--label" for="password">密碼*</label>
						<input type="password" name="password" class="form--field-container">
					</div>
					<button type="submit" class="button--button">登入</button>
					<div class="login-options-container">
						<div class="link--field">
							<a class="link--field-container" href="#">忘記密碼</a>
							<a class="link--field-container" href="#">建立新帳號</a>
						</div>
					</div>
		
					{% comment %} 
					
					</div>
					<div class="input-group">
					<label for="password">密碼*</label>
					<input type="password" id="password" name="password">
					</div>
					<button type="submit">登入</button>
					<a href="#">忘記密碼</a>
					<a href="#">建立新帳號</a> {% endcomment %}
				</div>
			</div>
		</main>

		<script src="{% static 'js/logInPage.js' %}"></script>
	</body>
</html>