{% load static %}
<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link type="text/css" rel="stylesheet" href="{% static 'css/signUp.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		{% if error_message %}
			<div class="alert alert-warning alert-dismissible fade show fixed-top" role="alert" style="max-width: 300px; margin: 0 auto; text-align: center;">
				<strong>Eorror!</strong> {{ error_message }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endif %}
        <div class="container">
			<div class="container--image">
				<img src="{% static 'images/signup.png' %}" alt="">
				<div class="Sign--in">Already have an account?<a href="/index/log-in/" class="Sign--in-link">Sign In</a></div>
			</div>
			<form method="post" autocomplete="off">
			{% csrf_token %}
			<div class="signup--form">
				<div class="signup--form-layout">
					<div class="from--title">Sign Up</div>
					<div class="note">To use our platform, please sign up.</div>
					<div class="form--field">
						<div class="form--field-layout"><span>First Name</span><input type="text" name="first_name" class="form--field-container"></div>
						<div class="form--field-layout"><span>Last Name</span><input type="text" name="last_name" class="form--field-container"></div>
					</div>
					<div class="form--field-layout"><span>Email Address</span><input type="text" name="email" id="email" class="form--field-container"><span id="email-error" class="error"></span></div>
					<div class="form--field-layout"><span>Password</span><input type="password" name="password" class="form--field-container"></div>
					<button type="submit" class="button--button" id="submit-btn">Sign Up</button>
					<div class="Use--Terms">By signing up, you agree with our <a href="#" class="Use--Terms-link">Terms of Use</a></div>
				</div>
			</div>
			</form>
        </div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="{% static 'js/signUp.js' %}"></script>	
	</body>
</html>